<section id="About">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			Hi, I am Shrey Pandit a second year undergraduate at BITS-Pilani , K.K Birla Goa Campus , persuing Computer Science Engineering as my major.
		</h5>
		<h5>
			I am interested in Machine learning and perticularly in the feild of Computer vision and Adaptive learning rate. 
		</h5>
    	<h5>
			Open to any internship opportunies related to my field of interest. For any more information about me have a look at my proffesional resume/CV.
		</h5>

    </div>
  </div>
</div>
</section>
