<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://shreypandit.github.io/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
<!--         <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li> -->
        <li><a href="{{ site.baseurl }}about.html">About</a></li>
        <li><a href="{{ site.baseurl }}projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}publication.html">Publication</a></li>
        <li><a href="https://drive.google.com/file/d/1o5T8ZByMNuE6eomXXPTMNW1VueqVTZ7G/view?usp=sharing">Resume</a></li>
        <li><a href="https://drive.google.com/file/d/1_UUPIbFL6ZCUcP4k5EpnTv17W4ki2v1c/view?usp=sharing">Curriculum Vitae</a></li>
      </ul>
    </div>
  </div>
</nav>
