<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			1) <br>
			<img class="rounded float-left" src="{{ site.baseurl }}static/img/anime.png" style="width: 200px" alt="Responsive image"><br>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ShreyPandit/DCGAN">Anime Face Generator</a></strong>
			- Using Deep Convoultional GAN generated random Anime faces 
		</h5>
		<h5>
			2) <br>
			<img class="rounded float-left" src="{{ site.baseurl }}static/img/dog_pt_final.jpeg" style="width: 200px" alt="Responsive image"><br>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ShreyPandit/Saidl_Assignment/tree/master/Q4.3">Ablation Cam Implementation</a></strong>
			- Implemented Ablation cam as proposed by author in the <a href="https://openaccess.thecvf.com/content_WACV_2020/papers/Desai_Ablation-CAM_Visual_Explanations_for_Deep_Convolutional_Network_via_Gradient-free_Localization_WACV_2020_paper.pdf"> paper </a> It is a replacement of the current SOTA Gradcam. 
		</h5>
    		<h5>
			3) <br>
			<img class="rounded float-left" src="{{ site.baseurl }}static/img/oneshot.png" style="width: 200px" alt="Responsive image"><br>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ShreyPandit/SAiDL-Winter-Assignment-2019/blob/master/One_Shot_Learning.ipynb"> One shot Classifier</a></strong>
			- Learning Omniglot dataset using the technique of One-Shot clssification and Siamese Network.
		</h5>
	    	<h5>
			4) <br>
			<img class="rounded float-left" src="{{ site.baseurl }}static/img/optimiser.png" style="width: 200px" alt="Responsive image"><br>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ShreyPandit/SAiDL-Winter-Assignment-2019/blob/master/Q.1-Comparision_of_Optimisers.ipynb">Comparision of Various Optimizers</a></strong>
			- Various optimizers such as Adam, RMSProp, SGD and AdaGrad were written from scratch and their performance on the same model and dataset was compared.
		</h5>

    </div>
  </div>
</div>
</section>
