<section id="Publication">
<div class="container">
  <h3>Publication</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			1) An Autoencoder Based Approach to Simulate Sports Games Vaswani, Ashwin, Ganguly, Rijul, Shah, Het, S, Sharan Ranjit, Pandit, Shrey, and Bothara, Samruddhi 7th Workshop on Machine Learning and Data Mining for Sports Analytics at ECML-PKDD 2020
			<br>July - 2020
      		<br>
      		<a href="https://arxiv.org/pdf/2007.10257.pdf">PDF</a>
		</h5>
	    
    		
    </div>
  </div>
</div>
</section>
